AbstractButton {
    border-color: black;
    background-color: white;
    text-color: black;
}

XText {
    /* Test color values */
    color: currentColor;
    background: transparent;

    /* none keyword test */
    border: none;
}

.meta-button:hover {
    background-color: gray;
}

.cancel {
    background-color: red;
    color: white;
}

#section-1 {
    background: gray;

    color: inherit;
}
